<div class="container"><br>
  <fieldset>
    <legend><h3>Create New Post:</h3></legend><br>
    <form action="/posts" method="post">
      <label for="title">Title: &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</label>
      <input type="text" name="post[title]"><br><br>

      <label for="tag">Tag(s): &nbsp&nbsp&nbsp&nbsp</label>
      <input type="text" name="tag_name"><br><br>

      <label for="content">Content: &nbsp</label>
      <textarea type="text" name="post[body]" rows="5" cols="50"></textarea><br><br>

      <input type="submit" value="Post">
    </form>
  </fieldset>
</div>
